:{$PORT:8080} {
    root * public
    encode gzip

    # WebSocket support for Reverb
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets localhost:8080

    php_fastcgi localhost:9000
    file_server
}
